body{
  font-size: 20px;
  /* background-color: rgba(255,208,67,0.7) */
  /* background-repeat: no-repeat; */
  /* background-image */
  /* background-image: url("https://i.pinimg.com/originals/04/72/25/0472255b33f3a74add72859f5416a0a0.png"); */
  /* background-color: rgb(0,207,211); */
  background-color: rgb(22,26,63);
  /* opacity: 0.2; */
}

.wrapper{
  /* background-color: rgba(155,118,214,0.5); */
  margin: 3%;
  padding: 40px;
  border-radius: 5px;
  color: rgb(255,255,255);
}

.challenges {
  border-radius: 5px;
  padding: 2%;
  background-color: rgb(224,242,242);
}

.codeBlock {
  margin: 40px;
  padding: 40px;
  -webkit-box-shadow: -10px 12px 28px 1px rgba(66,19,11,0.42);
  -moz-box-shadow: -10px 12px 28px 1px rgba(66,19,11,0.42);
  box-shadow: -10px 12px 28px 1px rgba(66,19,11,0.42);
}



.defaultColor{
  background-color: rgb(242,169,5);
}

.altColorBlue {
  background-color: rgb(0,207,211);
}

.altColorPurple {
  background-color: rgb(155,118,214);
}

.altColorPink {
  background-color: rgb(253,138,174);
}

.codeBlock:hover {
  border: 5px solid rgb(22,26,63);
  cursor: pointer;
}
